#headd {
  display: grid;
  height: 10vw;
  grid-template-rows: 30% 70%;
  grid-template-columns: 100%;
  font-size: 1.2vw;
  color: grey;
}
#overHead {
  display: grid;
  background-color: aqua;
  grid-row: 1;
}
#navHeader {
  display: grid;
  grid-row: 2;
  grid-template-columns: 5% 27% 37% 26% 5%;
  grid-template-rows: 100%;
}
#divlogo {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 100%;
  grid-column: 2;
  height: 100%;
  align-content: center;
}
#logo {
  height: 85%;
  width: 85%;
}
#subnavnav {
  list-style-type: none;
  display: flex;
  height: 60%;
  width: 80%;
  gap: 8%;
  flex-flow: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
#navnav {
  display: grid;
  grid-row: 1;
  grid-column: 3;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  align-items: top;
}
.naItem {
  text-decoration: none;
}
#carroBusqueda {
  display: grid;
  grid-row: 1;
  grid-column: 4;
  grid-template-columns: 70% 30%;
  grid-template-rows: 100%;
}
#lupa {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  grid-column: 1;
}
#llupa {
  fill: gray;
  width: 12%;
  height: 25%;
}
#llupa:hover {
  fill: white;
  width: 13%;
  height: 26%;
}
#carro {
  display: grid;
  grid-template-columns: 10% 75% 15%;
  grid-template-rows: 20% 60% 20%;
  grid-column: 2;
}
#aucarrou {
  display: grid;
  grid-column: 2;
  grid-row: 2;
  border-style: solid;
  border-color: grey;
  grid-template-rows: 10% 80% 10%;
  grid-template-columns: 50% 50%;
}
#aucarrod {
  display: flex;
  grid-column: 1;
  grid-row: 2;
  border-right-style: solid;
  border-right-color: grey;
  align-items: center;
  justify-content: center;
}
#numeroitems {
  display: flex;
  grid-column: 2;
  align-items: center;
  justify-content: center;
  grid-row: 2;
}
#cart {
  fill: gray;
  width: 75%;
  height: 75%;
}
#cart:hover {
  fill: white;
  width: 90%;
  height: 82%;
}
